body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  min-height: 300px;
}

/* typography */

h1, h2, h3, h4 p {
  margin-bottom: 0;
}

h1 {
  color: #3DA35D;
  font-size: 35px;
  margin: 0;
  padding: 25px 10px 0;
}

.sm-text-grey {
  color: #ddd;
  font-size: 12px;
  font-weight: 200;
}


/* Layout */

.hero {
  margin-right: 15px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  background: white;
  /* border: solid red; */

}

.columns {
  display: flex;
}

.container {
  margin-top: 10px;
  /* border: solid yellow; */
}

.brand-box {
  border-bottom: solid thin #ddd;
  padding-bottom: 20px;
  margin-top: 0;
}


.text-center {
  text-align: center;
}

.element-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}



#sec-list {
  margin: 0;
  padding: 0;
  padding-top: 240px;
}

img {
  margin: 0;
  padding-top: 12px;
}


.bg-light {
  background: #E8FCCF;
}

.hidden {
  display: none;
}

.visible {

}

/* input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #3DA35D;
} */

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #3DA35D;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #3DA35D;
  border-radius: 5px;
}

.input:focus,
.input:hover {
  outline: none;
  border: 2px solid #3DA35D;

}

.input-search {
  color: black; /* */
  width: 40%;
  margin: 10px 0 0;
  text-align: right;
  border: 1px solid #ddd;
  float: right;
}

.input-search:hover,
.input-search:focus {
  border: 2px solid #bcbebf;
}


button {
  background: #3DA35D;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #3DA35D;
  border-radius: 5px;
}

button:hover{
  border: 1px solid #fbb040;

}

.second-btn {
  background: white;
  color: #3DA35D;
}

.second-btn:hover {
  border: 1px solid #fbb040;
  color: #fbb040;
}

/* Table */

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3DA35D;
  color: white;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}


a {
  color: #3DA35D;
}
