/* ------ GENERAL SETUP ------- */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  min-height: 300px;
}

img {
  width:100%;
}

a {
  color: #3DA35D;
}

.hero {
  width: 100%;
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;

}

.container {
  width: 95%;
  margin: 0 auto;
}


/* typography */

h1, h2, h3, h4 p {
  margin-bottom: 0;
}

h1 {
  color: #3DA35D;
  font-size: 2.5rem;
  margin: 0;
}

.cta {
  font-size: 1rem;
}


.sm-text-grey {
  color: #ddd;
  font-size: .75rem;
  font-weight: 200;
}


/* ============
    LAYOUT
============== */

.columns {
  display: flex;
}

.col-50 {
  width: 49.5%;
}

/* header */

.container-brand {
  padding: 1em 0;
  align-items: center;
  border-bottom: solid thin #ddd;
}

.container-interactive {
  margin: 2em 0 1em 0;
}

/* header - search */

.input-container {
  display: flex;
  justify-content: space-between;
}

    /* note: selects the parent of "search" */
.container-interactive > .input-container:first-child {
  justify-content: flex-end;
}

.search {
  color: black;
  width: 26%;
  text-align: right;
  border: 1px solid #ddd;
}

/* Table */

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 1em;
}
.table-row-head {
  position: -webkit-sticky;
  position: sticky;
  top: 15.5rem;
}

td,
th {
  border: 1px solid #ddd;
  padding: .5em;
}

th {
  padding: .7em .5em;
  text-align: left;
  background-color: #3DA35D;
  color: white;
}



tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}


/* donate div */

.donate {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* modal delete */

.overlay {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal {
  position: relative;
  top: 30vh;
  padding: .5em;
  border: solid 1em rgba(255, 0, 0, .7);
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background: #fff;
}

.modal p {
  margin: 0;
}

.modal-warning {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  padding-top: .5em;
}

.modal-btns-container{
  margin: 2em;
}



/* buttons */

.btn {
  background: rgba(61, 163, 93, .9) /* #3DA35D */;
  color: white;
  font-weight: bold;
  padding: .625em 1.4em;
  border: 1px solid rgba(61, 163, 93, 1);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover,
.btn:active{
  border: 1px solid #fbb040;
  background: rgba(61, 163, 93, 1)

}

.btn-second {
  background: white;
  color: #3DA35D;
}

.btn-second:hover {
  border: 1px solid #fbb040;
  color: #fbb040;
}

.btn-danger {
  background: rgba(255, 0, 0, .7);
  border: rgba(255, 0, 0, 1);
  color: #fff;
}

.btn-danger:hover,
.btn-danger:active {
  background: rgba(255, 0, 0, 1);
  border: rgba(255, 0, 0, 1)

}

/* inputs */

.input {
  /* width: 100%; */
  margin: 0 0 .625em 0;
  padding: .625em;
  box-sizing: border-box;
  border: 1px solid rgba(61, 163, 93, .4);
  border-radius: 5px;
}

.input:focus,
.input:hover {
  outline: none;
  background-color: ;
  border: 1px solid rgba(61, 163, 93, 1); /* #3DA35D */

}


/* overwrite */

.hidden {
  display: none;
}
